@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@layer base {
    html {
        image-rendering: pixelated;

        font-family: "Fira Sans", sans-serif;
        font-size: 16px;
    }
}

@layer components {
    .chip {
        @apply flex items-center rounded-lg bg-neutral-800 border-neutral-700 border-2 h-[26px] pl-1 pr-2 no-underline shadow-md;
    }

    .chip-highlight {
        @apply bg-sky-900 border-sky-400 text-white;
    }
}

h1 {
    font-size: 1.55rem;
    font-weight: bold;
}

h2 {
    font-size: 1.45rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
}

p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.smiley {
    background: url("/images/smileys.png");
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
}