@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'PixelOperator';
    src: url('../fonts/PixelOperator.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'PixelOperator';
    src: url('../fonts/PixelOperator-Bold.ttf');
    font-weight: bold;
}

@layer base {
    html {
        font-family: "PixelOperator", system-ui, sans-serif;
        font-size: 20px;
        image-rendering: pixelated;
    }
}

h1 {
    font-size: 1.85rem;
    font-weight: bold;
}

h2 {
    font-size: 1.45rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
}

p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.smiley {
    background: url("/images/smileys.png");
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
}