<div class="flex w-full h-full">
  <aside class="menu max-w-[250px] gap-2 p-3 pt-6 font-bold bg-base-100">
    <h1 class="whitespace-nowrap py-3 px-3">
      EE Web Archive v2
    </h1>
    <div style="color: crimson" class="px-3 pointer-events-none">
      <h3>🚨 Early beta version!</h3>
    </div>
    <.menu_link to={~p"/"}>Home</.menu_link>
    <.menu_link to={~p"/players"}>Players</.menu_link>
    <.external_menu_link href="https://pixelwalker.net/" class="text-primary">PixelWalker 🔗</.external_menu_link>
    <.menu_link to="https://forums.everybodyedits.com/viewtopic.php?id=47779" target="_blank">
      Forum thread 🔗
    </.menu_link>
    <.menu_link
      to="https://github.com/vilanz/ee-web-archive"
      target="_blank"
      class="flex items-center gap-2"
    >
      <img src={~p"/images/github.svg"} class="opacity-75" width="20" />
      <span>
        GitHub 🔗
      </span>
    </.menu_link>
  </aside>
  <.flash_group flash={@flash} />
  <main class="p-6 w-full h-full overflow-auto bg-neutral-950">
    <%= @inner_content %>
  </main>
</div>
